.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  
  svg{
    transform: scale(0.8);
  }
}

.tooltip {
  font: var(--ui-semantic-font-body-smaller);
  color: var(--ui-semantic-color-neutral-weaker);
  background: var(--ui-semantic-color-neutral-stronger);
  padding: var(--ui-semantic-padding-xs);
  border-radius: var(--ui-semantic-radius-s);
}