.input{
  display: inline-flex;
  flex-direction: row;
  background: var(--ui-background-default);
  border: 0.1rem solid currentColor;
  color: inherit;
  font: inherit;
  border-top-left-radius: var(--ui-semantic-radius-l);
  border-bottom-left-radius: var(--ui-semantic-radius-l);
  border-top-right-radius: calc(var(--ui-semantic-radius-l) + 0.1rem);
  border-bottom-right-radius: calc(var(--ui-semantic-radius-l) + 0.1rem);
  padding: 0;
  width: 100%;
  max-width: 100%;

  &:focus-within{
    box-shadow: var(--ui-shadow-focus);
  }
}
.input input{
  width: 100%;
  max-width: 100%;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  padding: var(--ui-semantic-padding-action);
  padding-inline-end: var(--ui-semantic-padding-y-s);

  &:focus{
    box-shadow: none;
  }
}


.toggle{
  padding: var(--ui-semantic-padding-action);
  padding-inline-start: 0;
}