.pigContainer {
  position: relative;
  color: #fff;
  top: 4rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: var(--ui-semantic-radius-round);
  background-color: var(--ui-semantic-color-primary-stronger);
  z-index: 1;
  border: 0.5rem solid #fff;
  box-shadow: var(--ui-semantic-shadow-l);
  max-width: 12rem;
}
.pigContainer:active{
  animation: forwards pigAnimation 1s ease-in-out;
}

@keyframes pigAnimation {
  0% {
    transform: translateY(-20rem) rotate(180deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}