@font-face {
  font-family: "Cormorant";
  font-weight: 300;
  font-display: swap;
  src: url(/Cormorant/Cormorant-Light.ttf);
}
@font-face {
  font-family: "Cormorant";
  font-weight: 400;
  font-display: swap;
  src: url(/Cormorant/Cormorant-Regular.ttf);
}
@font-face {
  font-family: "Cormorant";
  font-weight: 700;
  font-display: swap;
  src: url(/Cormorant/Cormorant-Bold.ttf);
}
