.link{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--ui-component-menu-padding-y) var(--ui-semantic-padding-x-s);
  text-align: center;
  border-block-end: var(--ui-component-menu-border-active-bottom, none);
  border-inline-start: var(--ui-component-menu-border-active-left, none);
  color: var(--ui-background-inverted);

  &:any-link{
    text-decoration: none;
    color: inherit;
  }

  &:not(.isActive){
    border-color: transparent;
  }

  &.isActive{
    background: var(--ui-semantic-color-primary-strong);
  }
}