.s-field-radio{
  display: flex;
  align-items: center;
  padding:var(--size-space-S);
  border-radius: var(--size-radius-default);
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-light);
}
.s-field-radio__input{
  margin-right:var(--size-space-M);
}
.s-field-radio--checked{
  border: 1px solid var(--color-secondary);
}
.s-field-radio--disabled{
  color: var(--color-grey-light);
}